<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - restaurant_demo_website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/jqueryui/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/restaurant_demo_website.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/c5ec4336d3.js" crossorigin="anonymous"></script>
 

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewData["RestaurantName"]</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="nav justify-content-end">
                        <form class="d-flex" role="search" data-ajax="true" action="@Url.Action("AffirmDeliveryPossibility","Home")" id="deliverySearch">
                            <label>Do we deliver to your location?</label>
                            <input class="form-control me-2" type="search" placeholder="Enter Your PostCode" aria-label="Search" name="deliveryPostcode">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Rewards" asp-action="Index">
                                <i class="fa-solid fa-gift"></i>
                            </a>
                        </li>
                        <partial name="_shoppingCartPartial" />
                        <partial name="_LoginPartial" />
                    </ul>
                   
                </div>
                
                
            </div>
        </nav>
        @if (ViewContext.RouteData.Values.Keys.Contains("controller") && ViewContext.RouteData.Values["controller"].ToString() == "Menu" && ViewContext.RouteData.Values["action"].ToString() != "Details")
        {
            <div class="nav justify-content-center">
                <ul class="nav">
                    @foreach (var category in Model.Categories)
                    {

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="@Url.Action("Category","Menu",new{categoryName=category})">@category</a>
                        </li>

                    }
                </ul>
                <form class="d-flex" role="search" data-ajax="true" action="@Url.Action("MenuSearch","Menu")" method="get" id="menuSearch">
                    <input class="form-control me-2" data-autocomplete-source="@Url.Action("QuickSearch","Menu")" placeholder="Search" aria-label="Search" name="menuName" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <button type="button" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Filter","Menu",new{filter="Price: Low - High"})" class="dropdown-item">Price:Low - High</a></li>
                    <li><a href="@Url.Action("Filter", "Menu", new { filter = "Price: High - Low" })" class="dropdown-item">Price:High - Low</a></li>
                    <li><a href="@Url.Action("Filter", "Menu", new { filter = "Points: Low - High" })" class="dropdown-item">Points:Low - High</a></li>
                    <li><a href="@Url.Action("Filter", "Menu", new { filter = "Points: High - Low" })" class="dropdown-item">Points:High - Low</a></li>
                </ul>

            </div>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        
    </div>
   @*  <div id="dialog" title="Basic dialog">
        <p id="deliveryMessage">This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
    </div> *@
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - @ViewData["RestaurantName"] - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";
        m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({key: "AIzaSyCp1BtHioTP2qxwcA5KxnhlUcOuZKodo0M", v: "weekly"});
    </script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/handlebars/handlebars.min.js"></script>
    <script src="~/css/jqueryui/jquery-ui.min.js"></script>
    

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#menuSearch").submit(function (event) {
            event.preventDefault();

            var form = $(this);
            $.getJSON(form.attr("action"), form.serialize(), function (data) {
                var html = Handlebars.compile($("#menuTemplate").html());
                console.log(html);
                $("#searchResults").empty().append(html({ products: data }));
            })
        });

        $("#deliverySearch").submit(function (event) {
            event.preventDefault();

            var form = $(this);
            $.getJSON(form.attr("action"), form.serialize(), function (data) {
                $("#deliveryMessage").empty().append(data)
                $("#dialog").dialog("open");
                
            })
        });

        $("input[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("data-autocomplete-source")})
        })

        
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
