@model restaurant_demo_website.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<h3>
    <em>Review</em> your cart:
 </h3>
<p class="button">
    @Html.ActionLink("Checkout >>", "OrderSummary", "Checkout",null,new{@class = "btn btn-primary"})
</p>
<div id="update-message">
</div>
<table class="table">
    <tr>
        <th>
            Delicacy Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in
Model.CartItems)
    {
        <tr id="row-@item.RecordId">
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td id="item-count-@item.RecordId">
                @item.Count
            </td>
            <td>
                <a href="" data-ajax="true" class="RemoveLink"  data-ajax-url="/ShoppingCart/RemoveFromCart/@item.RecordId" data-ajax-complete="Completed">
                Remove from cart</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td>
        </td>
        <td>
        </td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>

@section scripts{
   <script src="~/lib/jquery/dist/jquery.js"></<script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    Completed = function (data) {
                        var d = data.responseJSON;
                        // Successful requests get here
                        // Update the page elements
                        if (d.itemCount == 0) {
                            $('#row-' + d.deleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + d.deleteId).text(d.itemCount);
                        }
                        $('#cart-total').text(d.cartTotal);
                        $('#update-message').text(d.message);
                        $('#cart-status').text('Cart (' + d.cartCount + ')');
                    };
</script>
}