@model restaurant_demo_website.Models.Product

<div class="container">
    <div class="row">
        <div class="col">
            <img src="@Url.Content(Model.imgUrl)" class="img-thumbnail" alt="image_of_delicacy">
        </div>
       
        <div class="col">
            <p>Name:@Model.Name</p>
            <p>Price: @String.Format("{0:F}", Model.Price)</p>
            <p>Category: @Model.Category</p>
            <p>Code:@Model.Code</p>
            <p>Points: @Model.LoyaltyPoints</p>
            <p>Description:@Model.Description</p>
            @if (Model.DiffAllergen != null)
            {
                <ul>
                    @foreach (var allergen in Model.DiffAllergen)
                    {
                        <li>@allergen</li>
                    }
                </ul>
            }
                
           
            <a data-ajax="true" data-ajax-url="/shoppingcart/addtocart/@Model.ProductID" data-ajax-update="#cartCount" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/jquery/dist/jquery.js">
        </<script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}