@model restaurant_demo_website.Models.Product
@{
    ViewData["Title"] = Model.Name;
}
<div class="card mb-3" style="max-width: 600px;">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="@Url.Content(Model.imgUrl)" class="img-thumbnail img-fluid rounded-start" alt="image_of_delicacy">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                
                <p class="card-text">Price: @String.Format("{0:c}", Model.Price)</p>
                <p class="card-text">Category: @Model.Category</p>
                <p class="card-text">Code:@Model.Code</p>
                <p class="card-text">Points: @Model.LoyaltyPoints</p>
                <p class="card-text">Description:@Model.Description</p>
                    @if (Model.DiffAllergen != null)
                    {
                        <p>Allergens:
                    <ul>
                            @foreach (var allergen in Model.DiffAllergen)
                            {
                            <span class="badge rounded-pill text-black bg-primary">@allergen</span>
                            }
                    </ul>
                    </p>
                    }
                
                <a data-ajax="true" data-ajax-url="/shoppingcart/addtocart/@Model.ProductID" data-ajax-update="#cartCount" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/lib/jquery/dist/jquery.js">
        </<script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}