@model IEnumerable<restaurant_demo_website.Models.Product>

@{
    ViewData["Title"] = "Menu";
}

<div>
    <ul style="list-style-type:none;">
    @foreach(Product p in Model)
    {
        <li>
            <a href="@Url.Action("Details","Menu",new {id= p.ProductID})">
            <img src="@Url.Content(p.imgUrl)" alt="@p.Name" style="height:200px;width:200px"/>
            <p>@p.Name</p>
            <p>@String.Format("{0:F}", @p.Price)</p>
            <p>Point:@p.LoyaltyPoints</p>
            <a data-ajax="true" data-ajax-url="/shoppingcart/addtocart/@p.ProductID" data-ajax-update="#cartCount" class="btn btn-primary">Add to Cart</a>
            </a>
        </li>
    }
    </ul>
</div>


@section scripts{
<script src="~/lib/jquery/dist/jquery.js"></<script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}